
}
body{
  position:relative;
  margin: 0;
  padding: 0;

}
div{

  width:850px;
  margin: 40px auto 60px;
  background-color:#eaecef;
}
h1{
  font-size:30px;
}
.first{
  position:;
  margin-right:5px;
  height:260px;
  display:block;
}
.info{
font-size: 16px;
font-style: italic;

}

span{
  text-decoration:underline;
  color:grey;
}
.fline{
  border: .5px solid ;
  margin-left:20px;
}
img{
  float:right;
  z-index: 1;
  height:230px;
  width:200px;
  margin: 10px 20px 0 0;
  -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

div p{
  width:60%;
}
.info{
  font-family: courier;
  margin-top: 20px;
  margin-left:20px;
}
.name{
  margin-left:20px;
  margin-bottom:-20px;

}
.cell{
  margin-top:-40px;
  margin-left:20px;
  margin-bottom:-20px;
}
.email{
  margin-left:20px;
}
.second{
  margin: -80px 0px 40px 0px;
  padding:0px 0px -0px 0px;
}
.d1{
  height:100px;
  width: 30%;
  float:left;
  text-align:right;
  border-right: 1px solid #999;
  
  padding:0px 50px 0px 00px;
  font-size:18px;
  font-weight:bold;
  font-family:Helvetica, sans-serif;
  font-style: italic;
}
.d2{
  height:100px;
  width:60%;
  float:right;
  b
  padding:0px 0px 0px 20px;

}
.space{
    height: -50px;
    clear:both;
    display:block;
    margin: 0px 0px 0px 0px ;
    border: 1px;
}
.r2{
  position:relative;
  margin: -5px 0px -2px 0px;
  font-family: Helvetica, sans-serif;
  font-size:20px;
  font-weight:bold;
}
.r3{
 
  margin: 20px 0px 20px 0px;
}
